<div class="sensBackground">
    <div class="row">
        <div class="col-xs-6 col-sm-2"></div>
        <div class="col-xs-6 col-sm-6">
            <div class="row">
                <div class="col-xs-6 col-sm-2" style="padding: 5px 0 5px 0;"></div>
                <div class="col-xs-6 col-sm-4" style="padding: 5px 0 5px 0;">
                    <div class="butStyle" style="background-color: #00a379">Type</div>
                </div>
                <div class="col-xs-6 col-sm-4" style="padding: 5px 0 5px 0;">
                    <div class="inpStyle" style="background-color: #00a379"> {{sens.name}}</div>
                </div>
                <div class="col-xs-6 col-sm-2" style="padding: 5px 0 5px 5px;">
                    <!--<a href="#" class="">-->
                        <img src="/assets/images/edit.png" width="17" height="17">
                    <!--</a>-->
                    <!--<a href="#" class="">-->
                        <img src="/assets/images/remove.png" width="17" height="17">
                    <!--</a>-->
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4"></div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-2"></div>
        <div class="col-xs-6 col-sm-6">
            <div class="row">
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;"></div>
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;">
                    <div class="butStyle">Min. Value</div>
                </div>
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;">
                    <div class="inpStyle"> {{sens.minVal}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4"></div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-2"></div>
        <div class="col-xs-6 col-sm-6">
            <div class="row">
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;"></div>
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;">
                    <div class="butStyle">Max. Value</div>
                </div>
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;">
                    <div class="inpStyle"> {{sens.maxVal}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4"></div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-2"></div>
        <div class="col-xs-6 col-sm-6">
            <div class="row">
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;"></div>
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;">
                    <div class="butStyle">Event Enable</div>
                </div>
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;">
                    <div class="inpStyle"> {{sens.eventEnabled}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4"></div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-2"></div>
        <div class="col-xs-6 col-sm-6">
            <div class="row">
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;"></div>
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;">
                    <div class="butStyle">Last Value Read</div>
                </div>
                <div class="col-xs-6 col-sm-4" style="padding: 0 0 0 0;">
                    <div class="inpStyle"> {{sens.lastValueRead}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4"></div>
    </div>


</div>

<!--<div class="detail location">-->
    <!--<span>Min Value:</span> {{sens.minVal}}-->
<!--</div>-->
<!--<div class="detail location">-->
    <!--<span>Max Value:</span> {{sens.maxVal}}-->
<!--</div>-->
<!--<div class="detail location">-->
    <!--<span>Event Enable:</span> {{sens.eventEnabled}}-->
<!--</div>-->
<!--<div class="detail location">-->
    <!--<span>Last Value Read: </span> {{sens.lastValueRead}}-->
<!--</div>-->